.App {
  background-color: wheat;
  background-size: cover;
  padding: 10px;
}


h1 {
  padding: 2.5rem 0;
  color: rgb(232, 101, 205);
  font-size: 5rem;
  text-align: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 47%;
  background: rgb(150, 116, 197);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
} 

.card img {
  width: 15rem;
  height: 100%;
}



.text-container {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
}

.text-container h3 {
  font-size: 2rem;
}

.status {
  margin-bottom: 1rem;
}

.title {
  color: grey;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 1rem 4rem;
  font-size: 2rem;
  margin: 2rem ;
  margin-right: 1rem;
}